In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# 1
df = pd.read_csv('medical_examination.csv')
df.head()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [22]:
# 2
df['overweight'] = ((df['weight']/(df['height']*0.01)**2) > 25).astype(int)
df.head()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,overweight
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,0
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,0

In [25]:
# 3
df['cholesterol'] = df['cholesterol'].map(lambda x: 0 if x == 1 else 1)
df['gluc'] = df['gluc'].map(lambda x: 0 if x == 1 else 1)
df.head()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,overweight
0,0,18393,2,168,62.0,110,80,0,0,0,0,1,0,0
1,1,20228,1,156,85.0,140,90,1,0,0,0,1,1,1
2,2,18857,1,165,64.0,130,70,1,0,0,0,0,1,0
3,3,17623,2,169,82.0,150,100,0,0,0,0,1,1,1
4,4,17474,1,156,56.0,100,60,0,0,0,0,0,0,0

In [37]:
# 4 involves steps 5 to 9
# 5
df_cat = df.melt(value_vars=['cholesterol', 'gluc', 'smoke', 'alco', 'active', 'overweight'], id_vars=['cardio'])
df_cat.head()

   cardio     variable  value
0       0  cholesterol      0
1       1  cholesterol      1
2       1  cholesterol      1
3       1  cholesterol      0
4       0  cholesterol      0

In [47]:
df_cat.groupby('cardio').value_counts()

cardio  variable     value
0       alco         0        33080
        smoke        0        31781
        gluc         0        30894
        cholesterol  0        29330
        active       1        28643
        overweight   1        19106
                     0        15915
        active       0         6378
        cholesterol  1         5691
        gluc         1         4127
        smoke        1         3240
        alco         1         1941
1       alco         0        33156
        smoke        0        32050
        gluc         0        28585
        active       1        27618
        overweight   1        24440
        cholesterol  0        23055
                     1        11924
        overweight   0        10539
        active       0         7361
        gluc         1         6394
        smoke        1         2929
        alco         1         1823
Name: count, dtype: int64